<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211338026456-6kf2or0edu4dt5oe7p70i6sb0gh3bia1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211338026456-6kf2or0edu4dt5oe7p70i6sb0gh3bia1</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-6WnSeKpkPpOO0-YrGUv-mHOGrHNKr4</string>
	<key>GCM_SENDER_ID</key>
	<string>211338026456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahaart.app</string>
	<key>PROJECT_ID</key>
	<string>aha-mobile-79161</string>
	<key>STORAGE_BUCKET</key>
	<string>aha-mobile-79161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211338026456:ios:5e18c4f0a7577faca326ad</string>
</dict>
</plist>